  *{
            margin:0;
            padding:0;
        }
     
        #equal{
            grid-column:1 / -1;
            width:85%;
            margin:auto;
        }
        .main-box{
            height:100vh;
            padding:10px;
            
        }

        #box{            
            border-radius:20px;
            text-align:center;
            height:auto;
            width:40vw;           
            box-shadow:0 0 7px purple;
            margin-top:5px;
            padding:5px;
            
        }
        button{
            /* height:70px; */
            all:unset;
            /* width:85%;           */
            /* font-size:30px; */
            border-radius:20px;
            padding:10px 5px;
            margin-top:5px;
            border:none;
            box-shadow:0 1px 2px black;
            transition:transform 0.3s ease-in-out;

                            width:80%;
                height:60%;
                justify-self:stretch;
                align-self:stretch;
                font-size:2rem;
        }
        input{
            width:80%;
            height:60px;
            margin-bottom:5px;
            border-radius:20px;
            margin-top:1px;
            font-size:40px;
            text-align:right;
            padding-right:8px;
            border:none;
            box-shadow:0 0 1px 1px purple;
        }
        button:hover{
            box-shadow:0 2px 5px crimson;
            transform:scale(1.1);          
        }
        .button-box{
            display:grid;
            grid-template-columns:auto auto auto auto;
            justify-items:center;
            align-items:center;
            text-align:center;
            gap:5px;
            padding:10px;
            margin-top:10px;
        }

        @media (max-width:480px){
            .main-box{
                height:100vh;
                display:flex;
                justify-content:center;
                align-items:center;
            }
            #box{
                width:100%;
                margin-top:20px;
                height:auto;
            }
            #display{
                width:100%;
                border:none;
                box-shadow:0 0 1px 1px purple;
            }
            button{
                border-radius:30px;            
            }
            .bottom-box{
                height:100%;
                text-align:center;
            }
        }

        @media (min-width:481px) and (max-width:1024px){
            .main-box{
                height:100vh;
                padding:10px;
                display:flex;
                justify-content:center;
                align-items:center;
            }
            #box{
                width:100%;                
                height:auto;
                padding:10px;
            }
            #display{
                width:100%;
                border:none;
                height:120px;
                margin-bottom:20px;
                font-size:3rem;
                box-shadow:0 0 1px 1px purple;
            }
            .button-box{
                height:100%;    
                gap:40px;    
                padding:20px;                       
            }
            button{
                border-radius:30px;
                width:80%;
                height:90%;
                justify-self:stretch;
                align-self:stretch;
                font-size:2rem;
            }
            #equal{
                width:90%;
            }
        }

        @media (min-width:1400px){
            .main-box{
                height:100vh;
                padding:10px;
                display:flex;
                justify-content:center;
                align-items:center;
            }
            #box{
                width:100%;                
                height:auto;
                padding:25px;
            }
             #display{
                width:90%;
                border:none;
                height:120px;
                margin-bottom:20px;
                font-size:3rem;
                box-shadow:0 0 2px 2px purple;
            }
            .button-box{
                height:100%;    
                gap:40px;    
                padding:20px;                       
            }
            button{
                border-radius:30px;
                width:80%;
                height:90%;
                justify-self:stretch;
                align-self:stretch;
                font-size:2rem;
                padding-right:10px;
                box-shadow:0 2px 3px black;
            }
            button:hover{
                box-shadow:0 3px 5px crimson;
                transform:scale(1.1);          
             }
        }